{% extends 'base.html' %} {% block head %}
<title>Edit Posts</title>

{% endblock %}
{% block body %}
<h1>Edit Post</h1>
<hr />
<h2>Create New Blogpost</h2>
<form action="/post/delete/{{ post.id}}" method="POST">
  Title: <input type="text" name="title" id="title" value="{{post.title}}"/>
  <br />
  Author: <input type="text" name="Author" id="Author" value="{{post.Author}}" />
  <br />
  Post: <input type="text" name="content" id="content" value="{{post.content}}" />
  <br />
  <input type="submit" value="Post" />
</form>
<hr />
{% endblock %}